Makefile
Makefile.Debug
Makefile.Release
*_wrap.cpp
lib*.dylib
lib*.so
lib*.so.*
*.dll
moc_*.cpp
*.o
*.xl.sig
**/debug
**/release
/*.taokey
doc/Doxyfile
doc/output
ui_save_test_dialog.h
object_script.tao_tester.Debug
object_script.tao_tester.Release
